html {
  font-size: 18px;
}

body {
  font-family: "Ubuntu", "Abel", Helvetica, sans-serif;
  line=height: 1.4;
}

/*navigation Bar*/
.nav-bar {
  display: flex;
  align-items: center;
  height: 64px;
  background-color: #F1ECE9;
}

.nav-bar img {
  display: flex;
  justify-content: center;
  height: 54px;
  width: auto;
  margin-left: 24px;
}

.nav-bar span {
  display: flex;
  flex-grow: 1;
  font-family: "Ubuntu";
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin-left: 4px;
}

.nav-bar em {
font-weight: 600;
opacity: 1;
}

.nav-bar k {
  opacity: 0.5;
}

.nav-bar div {
  display: flex;
  margin-right: 24px;
}

.nav-bar a {
  padding-right: 16px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  opacity: 0.8;
}

@media only screen and (max-width: 800px) {
  .nav-bar a {
  display: none;
  }
}
/*banner*/

.banner {
  display: flex;
  background-color: #A6A5A1;
}

.pic img {
  display: flex;
  margin-left: 24px;
  margin-top: 32px;
  margin: 32px 24px;
  width: 99%;
  height: auto;
}

.learn {
  display: flex;
  font-family: "Ubuntu";
  flex-direction: column;
  justify-content: center;
  width: 26rem;
  margin: 0 24px;
  padding: 24px 24px;
  padding-bottom: 32px;
}

.learn h1 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.learn h4 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 500;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60%;
  background-color: #495058;
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #F1ECE9;
}

/*Information Main*/

.information {
  display: flex;
  flex-flow: column wrap;
  background-color: #F1ECE9;
}
.practise{
  display: flex;
}
.practise img {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 32px;
  margin: 32px 24px;
  width: 60%;
  height: auto;
}

.text {
  margin-left: 24px;
  margin-bottom: 24px;
  width: 60%;
}

.text h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 32px;
}

.text p {
  margin-bottom: 32px;
  font-family: "Abel", sans-serif;
  font-size: 1.8rem;
  opacity: 0.8;
}

.em {
  font-weight: bold;
}
